<div class="apanel-container" style="position: fixed; top: 50px;">
    <div id="apanel-toggle" class="onoff"></div>
    <div class="apanel-title">
        <a href="~/quantriweb/" target="_blank" title="Truy cập trang Admin">
           Quản trị</a>
        @if (ViewBag.PostId != null)
        {
            <a href="~/quantriweb/Content/Edit/@ViewBag.PostId" target="_blank" title="Sửa @ViewBag.PostType">
                <img src="~/Content/adminpanel/apanel-edit.png" /></a>
        }
        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" title="Đăng xuất">
                <img src="~/Content/adminpanel/apanel-logout.png" /></a>
        }
    </div>
</div>
