<div id="subscribe-success" style="display: none;">
</div>
			<h1 class="email">@Resources.common_subscribetogetnewsletter</h1>
			<p><input type="email" id="email-subscribe" name="TheGalaxy" placeholder="@Resources.contact_form_email"><br />
                <a href="#" id="subscribe">@Resources.common_subscribe</a>
			</p>


<script>
    $(document).ready(function () {
        $(document).on("click", "a", function () {
            var id = $(this).attr('id');
            if (id == "subscribe") {
                var email = $("#email-subscribe").val();
                if (email) {
                    emailReg = /^[_a-z0-9-]+(\.[_a-z0-9-]+)*@@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/;
                if (!emailReg.test(email) || email == '') {
                    $("#subscribe-success:hidden:first").fadeIn("slow").html("Vui lòng điền email hợp lệ");
                    return false;
                }
                else {
                    $.ajax({
                        url: '@Url.Action("Subscribe", "Widget")',
                        data: {
                            email: email
                        },
                        success: function (result) {
                            $("#subscribe-success:hidden:first").fadeIn("slow").html(result);
                        },
                        type: "POST"
                    });
                }
            } else {
                    $("#subscribe-success:hidden:first").fadeIn("slow").html("Vui lòng điền email");
                    return false;
            }
        }
    });
    });
</script>


    <script>
        $("form#").validate();
    </script>
