<div class="aside-account float-left">
    	<div class="aside-block">
        	<ul class="menu-account">
            	<li><a href="@Url.Action("Info")"><i class="fa fa-chevron-circle-right"></i> Thông tin cá nhân</a></li>
                <li><a href="@Url.Action("EditAddress",new {type=2})"><i class="fa fa-chevron-circle-right"></i> Địa chỉ giao hàng</a></li>
                <li><a href="@Url.Action("Orders")"><i class="fa fa-chevron-circle-right"></i> Đơn hàng của tôi</a></li>
                <li><a><i class="fa fa-chevron-circle-right"></i> @Html.ActionLink(Resources.admin_common_changepassword, "Manage", new { area = "", controller = "Account" })</a></li>
            </ul>
        </div>
    </div>