@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container_12 full-container shopping-cart-zone">
<div class="shopping-cart-zone1">
    @Html.Action("UpdateWishList", "Common")
</div>
    </div>